// Listas
.u-list
	list-style none
	margin 0
	padding 0

// Cuadros
.u-displayInlineblock
	display inline-block
	vertical-align middle
.u-floatRight
	float right
.u-floatLeft
	float left
.u-verticalTop
	vertical-align top

// Textos
.u-textCenter
	text-align center
.u-textLeft
	text-align left
.u-textRight
	text-align right
.u-textJustify
	text-align justify
.u-textUppercase
	text-transform uppercase
.u-textLowercase
	text-transform lowercase
.u-textAzul
	color azul
.u-colorBlanco
	color blanco!important
.u-colorGris
	color gris!important

// Botones
.u-btn
	padding .5em 1em
	text-decoration none
.u-btnNaranja
	background naranja
	color blanco
.u-btnRojo
	background rojo
	color blanco
.u-btnAzul
	background azul
	color blanco

.u-marginTop
	margin-top 0

// Fondos
.u-bgGris
	background grisClaro
.u-bgBlanco
	background blanco
.u-bgNaranja
	background naranja
.u-bgAzul
	background azul
	color blanco

// Titulos
.u-titulo
.u-subtitulo
	text-transform uppercase
	color azul
.u-titulo
	font-size 2em
	font-weight negrita
.u-subtitulo
	font-size 1.5em
	font-weight seminegrita

// Columnas
.u-box
	width 100%
	display inline-block
	margin-bottom 1em
	text-align center
.u-two
	display inline-block
	vertical-align top
	width 47%
	margin 2%
	&:first-child
		margin-left 0
	&:last-child
		margin-right 0